
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #DB5E34;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #DB5E34 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.slider {
    position: absolute;
    display: flex;
    bottom: -40px;
    left: 35px;
}
.product__image, .main__image{
    max-height: 700px;
}
.slider__image {
    cursor: pointer;
    width: 85px;
    height: 85px;
    border-radius: 100%;
    background-color: #E4DADA;
    border: 2px solid #ffff;
    transform: rotate(45deg);
    margin: 0 10px;
    display: flex;
    transition: 1s;
}

.slider__image img {
    transform: rotate(-45deg);
    transition: 1s;
}

.step1{
    border-top: 2px solid #1E3844;
}
.step2{
    border-right: 2px solid #1E3844;
}

.step3{
    border-bottom: 2px solid #1E3844;
}
.step4{
    border-left: 2px solid #1E3844;
}

.delivery__time b{
    font-weight: 500;
}
.active {
    background-color: #F0F6F6;
    border: 2px solid #2B6B5C;
    width: 33.3%;

    height: 89px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.activeMainTab{

    border-bottom: 2px solid #2B6B5C;
}

.activeMainTab h4{
    font-weight: 600;
    color: #2B6B5C;
}



#wave{
    position: relative;
    background-color: #F0F5F3;

}

#wave:before {
    content: "";
    position: absolute;
    width: 85%;
    height: 135px;
    background-color: #F0F5F3;
    border-radius: 40% 66%;
    left: -3.8%;
    top: -6%;
}

#wave:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 101px;
    border-bottom: 100px solid #F0F5F3;
    border-radius: 0% 55%;
    left: 50%;
    top: -10%;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product__item-image {
    width: 70%;
    background-color: #E4DADA;
    display: flex;
    flex-direction: column;
    min-height: 957px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider {
    position: absolute;
    display: flex;
    bottom: -40px;
    left: 35px;
}

.container-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.popular {
    width: 200px;
    height: 200px;
    justify-content: flex-end;
    position: absolute;
    right: 110px;
    top: -60px;
}

.product__image {
    width: auto;
}

.product__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 28px 32px;
    width: 30%;
    margin: 0 auto;
}

.container__info {
    width: 80%;
}

.product__title {
    color: #292929;
    font-weight: 700;
    font-size: 32px;
}

.evaluation__stars {
    display: flex;
    list-style-type: none;
}

.evaluation__star {
    color: #FD7041;
    margin: 0 3px;
}

.product__evaluation {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
}

.evaluation__reviews {
    margin-left: 8px;
}

.evaluation__reviews a {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #4D4D4D;
    text-decoration: underline;
}

.product__text {
    padding-top: 7px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #4C4C4C;
}

.paragraphs {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.paragraphs .paragraphs__list:last-child {
    border: none;
}

.paragraphs__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #E2DEDE;
}

.paragraphs__list img {
    margin-left: 18px;
    font-size: 13px;
    max-width: 20px;
}

.paragraph__text {
    display: flex;
    align-items: center;
    margin-left: 18px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #292929;
    min-height: 59px;
}

.buttons__semanas-group {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
}

.button__semanas {
    width: 33.3%;
    height: 89px;
    border: 1px solid #D6D0D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons__semanas-group .button__semanas:nth-child(2) {
    border-left: none;
    border-right: none;
}

.buttons__semanas-group .button__semanas:hover:nth-child(2) {
    background-color: #F0F6F6;
    border: 2px solid #2B6B5C;
}

.button__semanas:hover {
    cursor: pointer;
    background-color: #F0F6F6;
    border: 2px solid #2B6B5C;
}

.sale {
    position: relative;
}

.banner {
    position: absolute;
    top: -10px;
    color: #ffff;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    background-color: #DB5E34;
    text-align: center;
    max-height: 24px;
    width: 50%;
    padding: 2px 8px;
}

.semanas__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.semanas__price {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #706C6C;
}

.button__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
}

.button__buy-now {
    outline: none;
    border: none;
    background: #2B6B5C;
    border-radius: 30px;
    width: 90%;
    height: 50px;
    color: #ffff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
}

.active {
    background-color: #F0F6F6;
    border: 2px solid #2B6B5C;
    width: 33.3%;
    height: 89px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buttons__semanas-group .active:nth-child(2) {
    background-color: #F0F6F6;
    border: 2px solid #2B6B5C;
}

.delivery__box {
    padding-top: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.delivery__box img {
    width: 16px;
    height: 16px;
}

.delivery__free-days {
    margin-left: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #222222;
}

.delivery__time {
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    color: #222222;
}

.rectangle {
    padding: 0 14px;
    color: #2B6B5C;
}

.paragraphs__list .fa-check {
    background-color: #FFE6DE;
    border-radius: 50%;
    width: 17px;
    height: 17px;
}

.main {
    background-image: url("images/selected.png");

}

.container__tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    width: 90%;
    margin-top: 117px;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tab {
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab:hover {
    border-bottom: 2px solid #2B6B5C;
}

.tab, .tab__text:hover {
    font-weight: 600;
    color: #23564A;
}

.tab__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #8D8D8D;
    text-transform: capitalize;
}

.tabs__content {
    min-height: 183px;
    margin-top: 24px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab__content-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 35px;
    color: #292929;
    max-width: 993px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    padding-bottom: 200px;
}

.icon__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;

}
.icon__container:first-child{
    padding-left: 0;
}

.icon__container .fa-check, .fa-heart {
    font-size: 30px;
}

.content__icon {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    color: #222222;
    padding-top: 17px;
}

.description-product {
    background-color: #F0F5F3;
    z-index: 1;
}

.description-product .container-fluid {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.main__content {
    display: flex;
    justify-content: center;
    padding-top: 115px;
}

.main__content .paragraphs {
    max-width: 343px;
}

.main__content .paragraphs__list {
    border-color: #ffff;
}

.main__content-title {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    color: #292929;
}

.main-content-text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #292929;
    max-width: 455px;
}

.main__image img {
    width: 90%;
}

.video-experts-say {
    background-image: url("images/Vector 490.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 86px;
}

.video-experts-say .container__info {
    padding-top: 70px;
}

.video__title {
    padding-bottom: 16px;
    padding-top: 63px;
}

.title-video {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}

.text-about-video {
    margin-top: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.container__info iframe {
    padding-top: 20px;
}

@media screen and (max-width: 1024px) {
    .popular {
        right: 30px;
        top: -67px;
    }

    .button__semanas {
        width: 40%;
    }

    .semanas__title {
        padding: 5px;
        font-size: 14px;
        line-height: initial;
    }

    .semanas__price {
        line-height: initial;
        font-size: 11px;
    }

    .banner {
        width: max-content;
        max-height: 24px;
    }

    .delivery__free-days, .delivery__time {
        line-height: initial;
    }

    .tab__content-text {
        text-align: center;
    }

    .main__content .container__info {
        margin-right: 20px;
    }
    .product__image{
        width: 100%;
    }

    .icons{
        padding-bottom: 100px;
    }
    #wave:before, #wave:after{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .tabs {
        width: 100%;
        margin: 0;
    }

    .container-fluid {
        flex-direction: column;
    }

    .product__item-image {
        width: 100%;
    }

    .product__info {
        width: 100%;
        padding: 48px 0 32px;
    }

    .semanas__title {
        font-size: 18px;
    }

    .semanas__price {
        font-size: 13px;
    }

    .delivery__time {
        font-size: 14px;
    }

    .paragraph__text {
        font-size: 16px;
    }

    .main__content .container__info {
        width: auto;
    }

    .main__content .paragraphs {
        max-width: 100%;
    }

    .video__title {
        padding-top: 100px;
    }

    .product__item-image {
        min-height: 500px;
    }
    .product__title{
        padding-top: 20px;
    }
    .popular {
        right: 51px;
        top: -3px;
        width: 150px;
        height: 150px;
    }

    .main__content {
        display: flex;
        justify-content: center;
        padding-top: 12px;
    }
    .banner{
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    iframe {
        width: 80%;
    }
    .main__image img {
        width: 100%;
    }
    .icon__container {
        padding: 0;
        padding-top: 33px;
    }

    .icons {
        padding-bottom: 63px;
        width: 100%;
    }

    .main__content .container__info {
        width: 90%;
        margin: 0;
    }

    .popular {
        right: 16px;
        top: -22px;
        width: 120px;
        height: 120px;
    }
.container__info{
    width: 90%;
}
}

@media screen and (max-width: 375px) {
    body {
        overflow-x: hidden;
    }
    .container__info{
        width: 90%;
    }
    .slider {
        left: 0;
    }
    .main__content .container__info {
        width: 90%;

    }
    .description-product .container-fluid {
        padding-bottom: 0;
    }
}
